body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}


.login-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border 0.3s;
}

.login-input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-message {
  margin-top: 15px;
  text-align: center;
  color: #d8000c;
  font-weight: bold;
}
.register-button {
  margin-top: 15px;
  background-color: transparent;
  color: #3276ce;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-button:hover {
  color: #1278e6;
}
